|     {$AboveInput}
|     <div {$attributes}>
|     {$BeforeInput}{$AfterBeforeInput}
| 	<div class="ui dropdown {$multipleClass} search selection" style="width: 100%;">
| 					{$Input}    
|                 <i class="dropdown icon"></i>
|     <div class="menu {$disabledClass}">
|         {Item}
|         <div class="item" data-value="{$value}">{Icon}<i class="{$icon}"></i>{/Icon}<div class="filetitle" style="display: inline-block">{$title}</div></div>
|         {/Item}
|     </div>
|
|     <input id="atk4multisearch" class="search" {$disabled} style="width: 100%;">
|        <div class="default text">{$DefaultText}</div>
|
|    <input id="atk4multifile"  type="file" accept="{$accept}" {$multiple} {$disabled} style="position: absolute; top: 0px; z-index: -1; left: 0px; width: 100%; height: 100%; opacity: 0;" tabindex="-1"/>
|    </div>
|        {$AfterInput}{$AfterAfterInput}
|    </div>
|    <div class="ui tiny indicating progress" data-value="1" data-total="100" style="display: none;">
|        <div class="bar"></div>
|        <div class="label"></div>
|    </div>
|
|
|    {$BelowInput}
|
|</div>
